<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifugle.rap.mapper.sync.SyncMapper">
    <insert id="insertIndexDay" parameterType="com.ifugle.rap.sqltransform.entry.IndexDayModel">
        replace into bi_index_day
        (
        cycle_id,
        node_id,
        org_id,
        `index`,
        dim1,
        dim_data1,
        dim2,
        dim_data2,
        dim3,
        dim_data3,
        inc_count,
        inc2_count,
        net_inc_count,
        dec_count,
        total_count,
        inc_amount,
        net_inc_amount,
        dec_amount,
        total_amount,
        inc_count_chain_rat,
        inc_count_link_rat,
        net_inc_count_chain_rat,
        net_inc_count_link_rat,
        dec_count_chain_rat,
        dec_count_link_rat,
        total_count_chain_rat,
        total_count_link_rat,
        total_count_share_rat,
        inc_amount_chain_rat,
        inc_amount_link_rat,
        net_inc_amount_chain_rat,
        net_inc_amount_link_rat,
        dec_amount_chain_rat,
        dec_amount_link_rat,
        total_amount_chain_rat,
        total_amount_link_rat,
        total_amount_share_rat
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.cycleId},
            #{item.nodeId},
            #{item.orgId},
            #{item.index},
            #{item.dim1},
            #{item.dimData1},
            #{item.dim2},
            #{item.dimData2},
            #{item.dim3},
            #{item.dimData3},
            #{item.incCount},
            #{item.inc2Count},
            #{item.netIncCount},
            #{item.decCount},
            #{item.totalCount},
            #{item.incAmount},
            #{item.netIncAmount},
            #{item.decAmount},
            #{item.totalAmount},
            #{item.incCountChainRat},
            #{item.incCountLinkRat},
            #{item.netIncCountChainRat},
            #{item.netIncCountLinkRat},
            #{item.decCountChainRat},
            #{item.decCountLinkRat},
            #{item.totalCountChainRat},
            #{item.totalCountLinkRat},
            #{item.totalCountShareRat},
            #{item.incAmountChainRat},
            #{item.incAmountLinkRat},
            #{item.netIncAmountChainRat},
            #{item.netIncAmountLinkRat},
            #{item.decAmountChainRat},
            #{item.decAmountLinkRat},
            #{item.totalAmountChainRat},
            #{item.totalAmountLinkRat},
            #{item.totalAmountShareRat}
            )
        </foreach>
    </insert>

    <insert id="insertIndex30Day" parameterType="com.ifugle.rap.sqltransform.entry.IndexDayModel">
        replace into bi_index_30day
        (
        cycle_id,
        node_id,
        org_id,
        `index`,
        dim1,
        dim_data1,
        dim2,
        dim_data2,
        dim3,
        dim_data3,
        inc_count,
        net_inc_count,
        dec_count,
        total_count,
        inc_amount,
        net_inc_amount,
        dec_amount,
        total_amount,
        inc_count_chain_rat,
        inc_count_link_rat,
        net_inc_count_chain_rat,
        net_inc_count_link_rat,
        dec_count_chain_rat,
        dec_count_link_rat,
        total_count_chain_rat,
        total_count_link_rat,
        total_count_share_rat,
        inc_amount_chain_rat,
        inc_amount_link_rat,
        net_inc_amount_chain_rat,
        net_inc_amount_link_rat,
        dec_amount_chain_rat,
        dec_amount_link_rat,
        total_amount_chain_rat,
        total_amount_link_rat,
        total_amount_share_rat
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.cycleId},
            #{item.nodeId},
            #{item.orgId},
            #{item.index},
            #{item.dim1},
            #{item.dimData1},
            #{item.dim2},
            #{item.dimData2},
            #{item.dim3},
            #{item.dimData3},
            #{item.incCount},
            #{item.netIncCount},
            #{item.decCount},
            #{item.totalCount},
            #{item.incAmount},
            #{item.netIncAmount},
            #{item.decAmount},
            #{item.totalAmount},
            #{item.incCountChainRat},
            #{item.incCountLinkRat},
            #{item.netIncCountChainRat},
            #{item.netIncCountLinkRat},
            #{item.decCountChainRat},
            #{item.decCountLinkRat},
            #{item.totalCountChainRat},
            #{item.totalCountLinkRat},
            #{item.totalCountShareRat},
            #{item.incAmountChainRat},
            #{item.incAmountLinkRat},
            #{item.netIncAmountChainRat},
            #{item.netIncAmountLinkRat},
            #{item.decAmountChainRat},
            #{item.decAmountLinkRat},
            #{item.totalAmountChainRat},
            #{item.totalAmountLinkRat},
            #{item.totalAmountShareRat}
            )
        </foreach>
    </insert>

    <insert id="insertIndexMonth" parameterType="com.ifugle.rap.sqltransform.entry.IndexDayModel">
        replace into bi_index_mon
        (
        cycle_id,
        node_id,
        org_id,
        `index`,
        dim1,
        dim_data1,
        dim2,
        dim_data2,
        dim3,
        dim_data3,
        inc_count,
        net_inc_count,
        dec_count,
        total_count,
        inc_amount,
        net_inc_amount,
        dec_amount,
        total_amount,
        inc_count_chain_rat,
        inc_count_link_rat,
        net_inc_count_chain_rat,
        net_inc_count_link_rat,
        dec_count_chain_rat,
        dec_count_link_rat,
        total_count_chain_rat,
        total_count_link_rat,
        total_count_share_rat,
        inc_amount_chain_rat,
        inc_amount_link_rat,
        net_inc_amount_chain_rat,
        net_inc_amount_link_rat,
        dec_amount_chain_rat,
        dec_amount_link_rat,
        total_amount_chain_rat,
        total_amount_link_rat,
        total_amount_share_rat
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.cycleId},
            #{item.nodeId},
            #{item.orgId},
            #{item.index},
            #{item.dim1},
            #{item.dimData1},
            #{item.dim2},
            #{item.dimData2},
            #{item.dim3},
            #{item.dimData3},
            #{item.incCount},
            #{item.netIncCount},
            #{item.decCount},
            #{item.totalCount},
            #{item.incAmount},
            #{item.netIncAmount},
            #{item.decAmount},
            #{item.totalAmount},
            #{item.incCountChainRat},
            #{item.incCountLinkRat},
            #{item.netIncCountChainRat},
            #{item.netIncCountLinkRat},
            #{item.decCountChainRat},
            #{item.decCountLinkRat},
            #{item.totalCountChainRat},
            #{item.totalCountLinkRat},
            #{item.totalCountShareRat},
            #{item.incAmountChainRat},
            #{item.incAmountLinkRat},
            #{item.netIncAmountChainRat},
            #{item.netIncAmountLinkRat},
            #{item.decAmountChainRat},
            #{item.decAmountLinkRat},
            #{item.totalAmountChainRat},
            #{item.totalAmountLinkRat},
            #{item.totalAmountShareRat}
            )
        </foreach>
    </insert>
</mapper>
