<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifugle.rap.mapper.BotChatRequestMapper">
  <resultMap id="BaseResultMap" type="com.ifugle.rap.model.shuixiaomi.BotChatRequest">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="NODE_ID" jdbcType="INTEGER" property="nodeId" />
    <result column="ORG_ID" jdbcType="BIGINT" property="orgId" />
    <result column="CHAT_SERVER_ID" jdbcType="BIGINT" property="chatServerId" />
    <result column="DEPT_ID" jdbcType="BIGINT" property="deptId" />
    <result column="COMPANY_ID" jdbcType="BIGINT" property="companyId" />
    <result column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="SESSION_ID" jdbcType="BIGINT" property="sessionId" />
    <result column="MAN_SESSION_ID" jdbcType="BIGINT" property="manSessionId" />
    <result column="UTTERANCE" jdbcType="VARCHAR" property="utterance" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="FORMAT" jdbcType="VARCHAR" property="format" />
    <result column="KNOWLEDGE_ID" jdbcType="VARCHAR" property="knowledgeId" />
    <result column="MESSAGE_ID" jdbcType="VARCHAR" property="messageId" />
    <result column="READ" jdbcType="TINYINT" property="read" />
    <result column="TAG" jdbcType="VARCHAR" property="tag" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="CHAT_TIME" jdbcType="TIMESTAMP" property="chatTime" />
    <result column="CALL_LAPSED_TIME" jdbcType="INTEGER" property="callLapsedTime" />
    <result column="SELECTED" jdbcType="TINYINT" property="selected" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="DURATION" jdbcType="INTEGER" property="duration" />
    <result column="QUESTION_METHOD" jdbcType="INTEGER" property="questionMethod" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NODE_ID, ORG_ID, CHAT_SERVER_ID, DEPT_ID, COMPANY_ID, USER_ID, SESSION_ID, MAN_SESSION_ID, 
    UTTERANCE, `TYPE`, FORMAT, KNOWLEDGE_ID, MESSAGE_ID, `READ`, TAG, FILE_NAME, CHAT_TIME,
    CALL_LAPSED_TIME, SELECTED, CREATION_DATE, DURATION, QUESTION_METHOD
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bot_chat_request
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bot_chat_request
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ifugle.rap.model.shuixiaomi.BotChatRequest">
    insert into bot_chat_request (ID, NODE_ID, ORG_ID, 
      CHAT_SERVER_ID, DEPT_ID, COMPANY_ID, 
      USER_ID, SESSION_ID, MAN_SESSION_ID, 
      UTTERANCE, TYPE, FORMAT, 
      KNOWLEDGE_ID, MESSAGE_ID, READ, 
      TAG, FILE_NAME, CHAT_TIME, 
      CALL_LAPSED_TIME, SELECTED, CREATION_DATE, 
      DURATION, QUESTION_METHOD)
    values (#{id,jdbcType=BIGINT}, #{nodeId,jdbcType=INTEGER}, #{orgId,jdbcType=BIGINT}, 
      #{chatServerId,jdbcType=BIGINT}, #{deptId,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, 
      #{userId,jdbcType=BIGINT}, #{sessionId,jdbcType=BIGINT}, #{manSessionId,jdbcType=BIGINT}, 
      #{utterance,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{format,jdbcType=VARCHAR}, 
      #{knowledgeId,jdbcType=VARCHAR}, #{messageId,jdbcType=VARCHAR}, #{read,jdbcType=TINYINT}, 
      #{tag,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{chatTime,jdbcType=TIMESTAMP}, 
      #{callLapsedTime,jdbcType=INTEGER}, #{selected,jdbcType=TINYINT}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{duration,jdbcType=INTEGER}, #{questionMethod})
  </insert>
  <insert id="insertSelective" parameterType="com.ifugle.rap.model.shuixiaomi.BotChatRequest">
    insert into bot_chat_request
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="nodeId != null">
        NODE_ID,
      </if>
      <if test="orgId != null">
        ORG_ID,
      </if>
      <if test="chatServerId != null">
        CHAT_SERVER_ID,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="companyId != null">
        COMPANY_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="sessionId != null">
        SESSION_ID,
      </if>
      <if test="manSessionId != null">
        MAN_SESSION_ID,
      </if>
      <if test="utterance != null">
        UTTERANCE,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="format != null">
        FORMAT,
      </if>
      <if test="knowledgeId != null">
        KNOWLEDGE_ID,
      </if>
      <if test="messageId != null">
        MESSAGE_ID,
      </if>
      <if test="read != null">
        READ,
      </if>
      <if test="tag != null">
        TAG,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="chatTime != null">
        CHAT_TIME,
      </if>
      <if test="callLapsedTime != null">
        CALL_LAPSED_TIME,
      </if>
      <if test="selected != null">
        SELECTED,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="duration != null">
        DURATION,
      </if>
      <if test="questionMethod != null">
        QUESTION_METHOD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="chatServerId != null">
        #{chatServerId,jdbcType=BIGINT},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="sessionId != null">
        #{sessionId,jdbcType=BIGINT},
      </if>
      <if test="manSessionId != null">
        #{manSessionId,jdbcType=BIGINT},
      </if>
      <if test="utterance != null">
        #{utterance,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="format != null">
        #{format,jdbcType=VARCHAR},
      </if>
      <if test="knowledgeId != null">
        #{knowledgeId,jdbcType=VARCHAR},
      </if>
      <if test="messageId != null">
        #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="read != null">
        #{read,jdbcType=TINYINT},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="chatTime != null">
        #{chatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callLapsedTime != null">
        #{callLapsedTime,jdbcType=INTEGER},
      </if>
      <if test="selected != null">
        #{selected,jdbcType=TINYINT},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="questionMethod != null">
        #{questionMethod},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ifugle.rap.model.shuixiaomi.BotChatRequest">
    update bot_chat_request
    <set>
      <if test="nodeId != null">
        NODE_ID = #{nodeId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        ORG_ID = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="chatServerId != null">
        CHAT_SERVER_ID = #{chatServerId,jdbcType=BIGINT},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        COMPANY_ID = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="sessionId != null">
        SESSION_ID = #{sessionId,jdbcType=BIGINT},
      </if>
      <if test="manSessionId != null">
        MAN_SESSION_ID = #{manSessionId,jdbcType=BIGINT},
      </if>
      <if test="utterance != null">
        UTTERANCE = #{utterance,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="format != null">
        FORMAT = #{format,jdbcType=VARCHAR},
      </if>
      <if test="knowledgeId != null">
        KNOWLEDGE_ID = #{knowledgeId,jdbcType=VARCHAR},
      </if>
      <if test="messageId != null">
        MESSAGE_ID = #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="read != null">
        READ = #{read,jdbcType=TINYINT},
      </if>
      <if test="tag != null">
        TAG = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="chatTime != null">
        CHAT_TIME = #{chatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callLapsedTime != null">
        CALL_LAPSED_TIME = #{callLapsedTime,jdbcType=INTEGER},
      </if>
      <if test="selected != null">
        SELECTED = #{selected,jdbcType=TINYINT},
      </if>
      <if test="creationDate != null">
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        DURATION = #{duration,jdbcType=INTEGER},
      </if>
      <if test="questionMethod != null">
        QUESTION_METHOD = #{questionMethod},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ifugle.rap.model.shuixiaomi.BotChatRequest">
    update bot_chat_request
    set NODE_ID = #{nodeId,jdbcType=INTEGER},
      ORG_ID = #{orgId,jdbcType=BIGINT},
      CHAT_SERVER_ID = #{chatServerId,jdbcType=BIGINT},
      DEPT_ID = #{deptId,jdbcType=BIGINT},
      COMPANY_ID = #{companyId,jdbcType=BIGINT},
      USER_ID = #{userId,jdbcType=BIGINT},
      SESSION_ID = #{sessionId,jdbcType=BIGINT},
      MAN_SESSION_ID = #{manSessionId,jdbcType=BIGINT},
      UTTERANCE = #{utterance,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      FORMAT = #{format,jdbcType=VARCHAR},
      KNOWLEDGE_ID = #{knowledgeId,jdbcType=VARCHAR},
      MESSAGE_ID = #{messageId,jdbcType=VARCHAR},
      READ = #{read,jdbcType=TINYINT},
      TAG = #{tag,jdbcType=VARCHAR},
      FILE_NAME = #{fileName,jdbcType=VARCHAR},
      CHAT_TIME = #{chatTime,jdbcType=TIMESTAMP},
      CALL_LAPSED_TIME = #{callLapsedTime,jdbcType=INTEGER},
      SELECTED = #{selected,jdbcType=TINYINT},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      DURATION = #{duration,jdbcType=INTEGER},
      QUESTION_METHOD = #{questionMethod}
    where ID = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectBotChatRequestForSync" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bot_chat_request
    where CREATION_DATE >= #{lastCreateTime} and selected = 1 and biz_type = 0  order by CREATION_DATE LIMIT ${first},${pageSize}
  </select>
</mapper>