<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ifugle.rap.mapper.dsb.YhzxXnzzNsrMapper">
  <resultMap id="BaseResultMap" type="com.ifugle.rap.model.dsb.YhzxXnzzNsr">
    <id column="id" javaType="java.lang.Long" jdbcType="BIGINT" property="id" />
		<result column="xnzz_id" javaType="java.lang.Long" jdbcType="BIGINT" property="xnzzId" />
		<result column="bm_id" javaType="java.lang.Long" jdbcType="BIGINT" property="bmId" />
		<result column="djxh" javaType="java.lang.String" jdbcType="VARCHAR" property="djxh" />
		<result column="nsrsbh" javaType="java.lang.String" jdbcType="VARCHAR" property="nsrsbh" />
		<result column="shxydm" javaType="java.lang.String" jdbcType="VARCHAR" property="shxydm" />
		<result column="shxydm6" javaType="java.lang.String" jdbcType="CHAR" property="shxydm6" />
		<result column="nsrmc" javaType="java.lang.String" jdbcType="VARCHAR" property="nsrmc" />
		<result column="nsrjc" javaType="java.lang.String" jdbcType="VARCHAR" property="nsrjc" />
		<result column="sjshxydm" javaType="java.lang.String" jdbcType="VARCHAR" property="sjshxydm" />
		<result column="nsrzt_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="nsrztDm" />
		<result column="jhbj" javaType="java.lang.Byte" jdbcType="TINYINT" property="jhbj" />
		<result column="zdsyhbj" javaType="java.lang.Byte" jdbcType="TINYINT" property="zdsyhbj" />
		<result column="yxcys" javaType="java.lang.Integer" jdbcType="INTEGER" property="yxcys" />
		<result column="zggsjg_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="zggsjgDm" />
		<result column="zgdsjg_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="zgdsjgDm" />
        <result column="sgy_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="sgyDm" />
		<result column="djzclx_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="djzclxDm" />
		<result column="parent_djzclx_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="parentDjzclxDm" />
		<result column="hy_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="hyDm" />
		<result column="zzzcbj" javaType="java.lang.Byte" jdbcType="TINYINT" property="zzzcbj" />
		<result column="khyh" javaType="java.lang.String" jdbcType="VARCHAR" property="khyh" />
		<result column="yhzh" javaType="java.lang.String" jdbcType="VARCHAR" property="yhzh" />
		<result column="zcdz" javaType="java.lang.String" jdbcType="VARCHAR" property="zcdz" />
		<result column="zcdlxdh" javaType="java.lang.String" jdbcType="VARCHAR" property="zcdlxdh" />
		<result column="scjydz" javaType="java.lang.String" jdbcType="VARCHAR" property="scjydz" />
		<result column="scjydlxdh" javaType="java.lang.String" jdbcType="VARCHAR" property="scjydlxdh" />
		<result column="qysdszsbj" javaType="java.lang.Byte" jdbcType="TINYINT" property="qysdszsbj" />
		<result column="zzsnslx" javaType="java.lang.Byte" jdbcType="TINYINT" property="zzsnslx" />
		<result column="dzxwqy_bj" javaType="java.lang.Byte" jdbcType="TINYINT" property="dzxwqyBj" />
		<result column="xxwlqy_bj" javaType="java.lang.Byte" jdbcType="TINYINT" property="xxwlqyBj" />
		<result column="nsxydj" javaType="java.lang.Byte" jdbcType="TINYINT" property="nsxydj" />
		<result column="kzztdjlx_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="kzztdjlxDm" />
		<result column="jyfw" javaType="java.lang.String" jdbcType="VARCHAR" property="jyfw" />
		<result column="djrq" javaType="java.util.Date" jdbcType="DATE" property="djrq" />
		<result column="kqccsztdj" javaType="java.lang.Boolean" jdbcType="BIT" property="kqccsztdj" />
		<result column="hsfs_dm" javaType="java.lang.String" jdbcType="CHAR" property="hsfsDm" />
		<result column="kjzdzz_dm" javaType="java.lang.String" jdbcType="CHAR" property="kjzdzzDm" />
		<result column="whsyjsfjfxxdj" javaType="java.lang.Boolean" jdbcType="BIT" property="whsyjsfjfxxdj" />
		<result column="zzsqylx_dm" javaType="java.lang.String" jdbcType="CHAR" property="zzsqylxDm" />
		<result column="ygznsrlx_dm" javaType="java.lang.String" jdbcType="CHAR" property="ygznsrlxDm" />
		<result column="zsz_zsxm_dm" javaType="java.lang.String" jdbcType="CHAR" property="zszZsxmDm" />
		<result column="qysdszsfs_dm" javaType="java.lang.String" jdbcType="CHAR" property="qysdszsfsDm" />
        <result column="sbbm" javaType="java.lang.String" jdbcType="VARCHAR" property="sbbm" />
        <result column="status" javaType="java.lang.Integer" jdbcType="INTEGER" property="status" />
         <result column="corpid" javaType="java.lang.String" jdbcType="VARCHAR" property="corpId" />
	    <result column="is_delete" javaType="java.lang.Byte" jdbcType="TINYINT" property="isDelete" />
        <result column="cjr" javaType="java.lang.String" jdbcType="VARCHAR" property="cjr" />
		<result column="cjsj" javaType="java.util.Date" jdbcType="TIMESTAMP" property="cjsj" />
		<result column="xgr" javaType="java.lang.String" jdbcType="VARCHAR" property="xgr" />
		<result column="xgsj" javaType="java.util.Date" jdbcType="TIMESTAMP" property="xgsj" />
        <result column="jhsj" javaType="java.util.Date" jdbcType="TIMESTAMP" property="jhsj" />
        <result column="swwblh" javaType="java.lang.Byte" jdbcType="TINYINT" property="swwblh" />
  </resultMap>
  <resultMap id="BaseSwjgResultMap" type="com.ifugle.rap.model.dsb.YhzxXnzzNsr">
    <id column="id" javaType="java.lang.Long" jdbcType="BIGINT" property="id" />
		<result column="xnzz_id" javaType="java.lang.Long" jdbcType="BIGINT" property="xnzzId" />
		<result column="bm_id" javaType="java.lang.Long" jdbcType="BIGINT" property="bmId" />
		<result column="djxh" javaType="java.lang.String" jdbcType="VARCHAR" property="djxh" />
		<result column="nsrsbh" javaType="java.lang.String" jdbcType="VARCHAR" property="nsrsbh" />
		<result column="shxydm" javaType="java.lang.String" jdbcType="VARCHAR" property="shxydm" />
		<result column="shxydm6" javaType="java.lang.String" jdbcType="CHAR" property="shxydm6" />
		<result column="nsrmc" javaType="java.lang.String" jdbcType="VARCHAR" property="nsrmc" />
		<result column="nsrjc" javaType="java.lang.String" jdbcType="VARCHAR" property="nsrjc" />
		<result column="sjshxydm" javaType="java.lang.String" jdbcType="VARCHAR" property="sjshxydm" />
		<result column="nsrzt_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="nsrztDm" />
		<result column="jhbj" javaType="java.lang.Byte" jdbcType="TINYINT" property="jhbj" />
		<result column="zdsyhbj" javaType="java.lang.Byte" jdbcType="TINYINT" property="zdsyhbj" />
		<result column="yxcys" javaType="java.lang.Integer" jdbcType="INTEGER" property="yxcys" />
		<result column="zggsjg_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="zggsjgDm" />
		<result column="zgdsjg_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="zgdsjgDm" />
        <result column="sgy_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="sgyDm" />
		<result column="djzclx_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="djzclxDm" />
		<result column="parent_djzclx_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="parentDjzclxDm" />
		<result column="hy_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="hyDm" />
		<result column="zzzcbj" javaType="java.lang.Byte" jdbcType="TINYINT" property="zzzcbj" />
		<result column="khyh" javaType="java.lang.String" jdbcType="VARCHAR" property="khyh" />
		<result column="yhzh" javaType="java.lang.String" jdbcType="VARCHAR" property="yhzh" />
		<result column="zcdz" javaType="java.lang.String" jdbcType="VARCHAR" property="zcdz" />
		<result column="zcdlxdh" javaType="java.lang.String" jdbcType="VARCHAR" property="zcdlxdh" />
		<result column="scjydz" javaType="java.lang.String" jdbcType="VARCHAR" property="scjydz" />
		<result column="scjydlxdh" javaType="java.lang.String" jdbcType="VARCHAR" property="scjydlxdh" />
		<result column="qysdszsbj" javaType="java.lang.Byte" jdbcType="TINYINT" property="qysdszsbj" />
		<result column="zzsnslx" javaType="java.lang.Byte" jdbcType="TINYINT" property="zzsnslx" />
		<result column="dzxwqy_bj" javaType="java.lang.Byte" jdbcType="TINYINT" property="dzxwqyBj" />
		<result column="xxwlqy_bj" javaType="java.lang.Byte" jdbcType="TINYINT" property="xxwlqyBj" />
		<result column="nsxydj" javaType="java.lang.Byte" jdbcType="TINYINT" property="nsxydj" />
		<result column="kzztdjlx_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="kzztdjlxDm" />
		<result column="jyfw" javaType="java.lang.String" jdbcType="VARCHAR" property="jyfw" />
		<result column="djrq" javaType="java.util.Date" jdbcType="DATE" property="djrq" />
		<result column="kqccsztdj" javaType="java.lang.Boolean" jdbcType="BIT" property="kqccsztdj" />
		<result column="hsfs_dm" javaType="java.lang.String" jdbcType="CHAR" property="hsfsDm" />
		<result column="kjzdzz_dm" javaType="java.lang.String" jdbcType="CHAR" property="kjzdzzDm" />
		<result column="whsyjsfjfxxdj" javaType="java.lang.Boolean" jdbcType="BIT" property="whsyjsfjfxxdj" />
		<result column="zzsqylx_dm" javaType="java.lang.String" jdbcType="CHAR" property="zzsqylxDm" />
		<result column="ygznsrlx_dm" javaType="java.lang.String" jdbcType="CHAR" property="ygznsrlxDm" />
		<result column="zsz_zsxm_dm" javaType="java.lang.String" jdbcType="CHAR" property="zszZsxmDm" />
		<result column="qysdszsfs_dm" javaType="java.lang.String" jdbcType="CHAR" property="qysdszsfsDm" />
        <result column="sbbm" javaType="java.lang.String" jdbcType="VARCHAR" property="sbbm" />
        <result column="status" javaType="java.lang.Integer" jdbcType="INTEGER" property="status" />
         <result column="corpid" javaType="java.lang.String" jdbcType="VARCHAR" property="corpId" />
	    <result column="is_delete" javaType="java.lang.Byte" jdbcType="TINYINT" property="isDelete" />
        <result column="cjr" javaType="java.lang.String" jdbcType="VARCHAR" property="cjr" />
		<result column="cjsj" javaType="java.util.Date" jdbcType="TIMESTAMP" property="cjsj" />
		<result column="xgr" javaType="java.lang.String" jdbcType="VARCHAR" property="xgr" />
		<result column="xgsj" javaType="java.util.Date" jdbcType="TIMESTAMP" property="xgsj" />
        <result column="jhsj" javaType="java.util.Date" jdbcType="TIMESTAMP" property="jhsj" />
        <result column="swwblh" javaType="java.lang.Byte" jdbcType="TINYINT" property="swwblh" />
        <result column="SWJG_DM_PATH" javaType="java.lang.String" jdbcType="VARCHAR" property="swjgDmPath" />
  </resultMap>



  <resultMap id="CompanyOdsResultMap" type="com.ifugle.rap.bigdata.task.CompanyOds">
    <!-- WARNING - @mbggenerated 请勿删除自动合并标记！ -->
    <result column="id" javaType="java.lang.Long" jdbcType="BIGINT" property="nsrId" />
    <result column="xnzz_id" javaType="java.lang.Long" jdbcType="BIGINT" property="xnzzId" />
    <result column="bm_id" javaType="java.lang.Long" jdbcType="BIGINT" property="bmId" />
    <result column="nsrsbh" javaType="java.lang.String" jdbcType="VARCHAR" property="nsrsbh" />
    <result column="shxydm" javaType="java.lang.String" jdbcType="VARCHAR" property="shxydm" />
    <result column="nsrmc" javaType="java.lang.String" jdbcType="VARCHAR" property="nsrmc" />
    <result column="zdsyhbj" javaType="java.lang.Byte" jdbcType="TINYINT" property="zdsyhbj" />
    <result column="jhbj" javaType="java.lang.Byte" jdbcType="TINYINT" property="jhbj" />
    <result column="yxcys" javaType="java.lang.Integer" jdbcType="INTEGER" property="yxcys" />
    <result column="djzclx_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="djzclxDm" />
    <result column="hy_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="hyDm" />
    <result column="nsrzt_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="nsrztDm" />
    <result column="zzzcbj" javaType="java.lang.Byte" jdbcType="TINYINT" property="zzzcbj" />
    <result column="zzsnslx" javaType="java.lang.Byte" jdbcType="TINYINT" property="zzsnslx" />
    <result column="dzxwqy_bj" javaType="java.lang.Byte" jdbcType="TINYINT" property="dzxwqyBj" />
    <result column="xxwlqy_bj" javaType="java.lang.Byte" jdbcType="TINYINT" property="xxwlqyBj" />
    <result column="nsxydj" javaType="java.lang.Byte" jdbcType="TINYINT" property="nsxydj" />
    <result column="is_delete" javaType="java.lang.Boolean" jdbcType="BIT" property="isDelete" />
    <result column="cjsj" javaType="java.util.Date" jdbcType="TIMESTAMP" property="cjsj" />
    <result column="xgsj" javaType="java.util.Date" jdbcType="TIMESTAMP" property="xgsj" />
    <result column="djxh" javaType="java.lang.String" jdbcType="VARCHAR" property="djxh" />
    <result column="zggsjg_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="zggsjgDm" />
    <result column="nsrjc" javaType="java.lang.String" jdbcType="VARCHAR" property="nsrjc" />
    <result column="sjshxydm" javaType="java.lang.String" jdbcType="VARCHAR" property="sjshxydm" />
    <result column="khyh" javaType="java.lang.String" jdbcType="VARCHAR" property="khyh" />
    <result column="yhzh" javaType="java.lang.String" jdbcType="VARCHAR" property="yhzh" />
    <result column="zcdz" javaType="java.lang.String" jdbcType="VARCHAR" property="zcdz" />
    <result column="zcdlxdh" javaType="java.lang.String" jdbcType="VARCHAR" property="zcdlxdh" />
    <result column="scjydz" javaType="java.lang.String" jdbcType="VARCHAR" property="scjydz" />
    <result column="scjydlxdh" javaType="java.lang.String" jdbcType="VARCHAR" property="scjydlxdh" />
    <result column="kzztdjlx_dm" javaType="java.lang.String" jdbcType="VARCHAR" property="kzztdjlxDm" />
    <result column="jyfw" javaType="java.lang.String" jdbcType="VARCHAR" property="jyfw" />
    <result column="cjr" javaType="java.lang.String" jdbcType="VARCHAR" property="cjr" />
    <result column="xgr" javaType="java.lang.String" jdbcType="VARCHAR" property="xgr" />
    <result column="swwblh" javaType="java.lang.Byte" jdbcType="TINYINT" property="swwblh" />
  </resultMap>

  <sql id="Base_Column_List">
        ID, XNZZ_ID, BM_ID, DJXH, NSRSBH, SHXYDM, SHXYDM6, NSRMC, NSRJC, SJSHXYDM, NSRZT_DM,
		JHBJ, ZDSYHBJ, YXCYS, ZGGSJG_DM, ZGDSJG_DM, SGY_DM, DJZCLX_DM, PARENT_DJZCLX_DM, HY_DM, ZZZCBJ,
		KHYH, YHZH, ZCDZ, ZCDLXDH, SCJYDZ, SCJYDLXDH, QYSDSZSBJ, ZZSNSLX, DZXWQY_BJ, XXWLQY_BJ,
		NSXYDJ, KZZTDJLX_DM, JYFW, DJRQ, KQCCSZTDJ, HSFS_DM, KJZDZZ_DM, WHSYJSFJFXXDJ, ZZSQYLX_DM,
		YGZNSRLX_DM, ZSZ_ZSXM_DM, QYSDSZSFS_DM, SBBM,STATUS,CORPID, IS_DELETE, CJR, CJSJ, XGR, XGSJ,JHSJ,swwblh
  </sql>
  <sql id="Base_Swjg_Column_List">
        nsr.ID, nsr.XNZZ_ID, nsr.BM_ID, nsr.DJXH, nsr.NSRSBH, nsr.SHXYDM, nsr.SHXYDM6, nsr.NSRMC, nsr.NSRJC, nsr.SJSHXYDM, nsr.NSRZT_DM,
		nsr.JHBJ, nsr.ZDSYHBJ, nsr.YXCYS, nsr.ZGGSJG_DM, nsr.ZGDSJG_DM, nsr.SGY_DM, nsr.DJZCLX_DM, nsr.PARENT_DJZCLX_DM, nsr.HY_DM, nsr.ZZZCBJ,
		nsr.KHYH, nsr.YHZH, nsr.ZCDZ, nsr.ZCDLXDH, nsr.SCJYDZ, nsr.SCJYDLXDH, nsr.QYSDSZSBJ, nsr.ZZSNSLX, nsr.DZXWQY_BJ, nsr.XXWLQY_BJ,
		nsr.NSXYDJ, nsr.KZZTDJLX_DM, nsr.JYFW, nsr.DJRQ, nsr.KQCCSZTDJ, nsr.HSFS_DM, nsr.KJZDZZ_DM, nsr.WHSYJSFJFXXDJ, nsr.ZZSQYLX_DM,
		nsr.YGZNSRLX_DM, nsr.ZSZ_ZSXM_DM, nsr.QYSDSZSFS_DM, nsr.SBBM,nsr.STATUS,nsr.CORPID, nsr.IS_DELETE, nsr.CJR, nsr.CJSJ, nsr.XGR,
		nsr.XGSJ,nsr.JHSJ,nsr.swwblh,jg.SWJG_DM_PATH
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yhzx_xnzz_nsr
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from yhzx_xnzz_nsr
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.ifugle.rap.model.dsb.YhzxXnzzNsr">
    insert into yhzx_xnzz_nsr (id, xnzz_id, bm_id, sbbm,status,
      corpid, nsrsbh, zdsyhbj,
      jhbj, YXCYS, cjsj, 
      cjr, xgsj, xgr, NSRMC, 
      NSRJC, shxydm, shxydm6, 
      sjshxydm, zggsjg_dm, zgdsjg_dm, sgy_dm,
      djzclx_dm, parent_djzclx_dm, hy_dm, 
      nsrzt_dm, zzzcbj, khyh, 
      yhzh, zcdz, zcdlxdh, 
      scjydz, scjydlxdh, qysdszsbj, 
      djxh, zzsnslx, dzxwqy_bj, 
      xxwlqy_bj, nsxydj)
    values (#{id,jdbcType=BIGINT}, #{xnzzId,jdbcType=BIGINT}, #{bmId,jdbcType=BIGINT}, #{sbbm,jdbcType=VARCHAR},#{status,jdbcType=INTEGER},
      #{corpid,jdbcType=VARCHAR}, #{nsrsbh,jdbcType=VARCHAR}, #{zdsyhbj,jdbcType=TINYINT}, 
      #{jhbj,jdbcType=TINYINT}, #{yxcys,jdbcType=INTEGER}, #{cjsj,jdbcType=TIMESTAMP}, 
      #{cjr,jdbcType=VARCHAR}, #{xgsj,jdbcType=TIMESTAMP}, #{xgr,jdbcType=VARCHAR}, #{nsrmc,jdbcType=VARCHAR}, 
      #{nsrjc,jdbcType=VARCHAR}, #{shxydm,jdbcType=VARCHAR}, #{shxydm6,jdbcType=CHAR}, 
      #{sjshxydm,jdbcType=VARCHAR}, #{zggsjgDm,jdbcType=VARCHAR}, #{zgdsjgDm,jdbcType=VARCHAR}, #{sgyDm,jdbcType=VARCHAR},
      #{djzclxDm,jdbcType=VARCHAR}, #{parentDjzclxDm,jdbcType=VARCHAR}, #{hyDm,jdbcType=VARCHAR}, 
      #{nsrztDm,jdbcType=VARCHAR}, #{zzzcbj,jdbcType=TINYINT}, #{khyh,jdbcType=VARCHAR}, 
      #{yhzh,jdbcType=VARCHAR}, #{zcdz,jdbcType=VARCHAR}, #{zcdlxdh,jdbcType=VARCHAR}, 
      #{scjydz,jdbcType=VARCHAR}, #{scjydlxdh,jdbcType=VARCHAR}, #{qysdszsbj,jdbcType=TINYINT}, 
      #{djxh,jdbcType=VARCHAR}, #{zzsnslx,jdbcType=TINYINT}, #{dzxwqyBj,jdbcType=TINYINT}, 
      #{xxwlqyBj,jdbcType=TINYINT}, #{nsxydj,jdbcType=TINYINT})
  </insert>

  <insert id="insertSelective" parameterType="com.ifugle.rap.model.dsb.YhzxXnzzNsr">
    insert into yhzx_xnzz_nsr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="xnzzId != null">
        xnzz_id,
      </if>
      <if test="bmId != null">
        bm_id,
      </if>
      <if test="sbbm != null">
        sbbm,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="corpid != null">
        corpid,
      </if>
      <if test="nsrsbh != null">
        nsrsbh,
      </if>
      <if test="zdsyhbj != null">
        zdsyhbj,
      </if>
      <if test="jhbj != null">
        jhbj,
      </if>
      <if test="yxcys != null">
        YXCYS,
      </if>
      <if test="cjsj != null">
        cjsj,
      </if>
      <if test="cjr != null">
        cjr,
      </if>
      <if test="xgsj != null">
        xgsj,
      </if>
      <if test="xgr != null">
        xgr,
      </if>
      <if test="nsrmc != null">
        NSRMC,
      </if>
      <if test="nsrjc != null">
        NSRJC,
      </if>
      <if test="shxydm != null">
        shxydm,
      </if>
      <if test="shxydm6 != null">
        shxydm6,
      </if>
      <if test="sjshxydm != null">
        sjshxydm,
      </if>
      <if test="zggsjgDm != null">
        zggsjg_dm,
      </if>
      <if test="zgdsjgDm != null">
        zgdsjg_dm,
      </if>
      <if test="sgyDm != null">
        sgy_dm,
      </if>
      <if test="djzclxDm != null">
        djzclx_dm,
      </if>
      <if test="parentDjzclxDm != null">
        parent_djzclx_dm,
      </if>
      <if test="hyDm != null">
        hy_dm,
      </if>
      <if test="nsrztDm != null">
        nsrzt_dm,
      </if>
      <if test="zzzcbj != null">
        zzzcbj,
      </if>
      <if test="khyh != null">
        khyh,
      </if>
      <if test="yhzh != null">
        yhzh,
      </if>
      <if test="zcdz != null">
        zcdz,
      </if>
      <if test="zcdlxdh != null">
        zcdlxdh,
      </if>
      <if test="scjydz != null">
        scjydz,
      </if>
      <if test="scjydlxdh != null">
        scjydlxdh,
      </if>
      <if test="qysdszsbj != null">
        qysdszsbj,
      </if>
      <if test="djxh != null">
        djxh,
      </if>
      <if test="zzsnslx != null">
        zzsnslx,
      </if>
      <if test="dzxwqyBj != null">
        dzxwqy_bj,
      </if>
      <if test="xxwlqyBj != null">
        xxwlqy_bj,
      </if>
      <if test="nsxydj != null">
        nsxydj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="xnzzId != null">
        #{xnzzId,jdbcType=BIGINT},
      </if>
      <if test="bmId != null">
        #{bmId,jdbcType=BIGINT},
      </if>
      <if test="sbbm != null">
        #{sbbm,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="nsrsbh != null">
        #{nsrsbh,jdbcType=VARCHAR},
      </if>
      <if test="zdsyhbj != null">
        #{zdsyhbj,jdbcType=TINYINT},
      </if>
      <if test="jhbj != null">
        #{jhbj,jdbcType=TINYINT},
      </if>
      <if test="yxcys != null">
        #{yxcys,jdbcType=INTEGER},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="cjr != null">
        #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="xgsj != null">
        #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgr != null">
        #{xgr,jdbcType=VARCHAR},
      </if>
      <if test="nsrmc != null">
        #{nsrmc,jdbcType=VARCHAR},
      </if>
      <if test="nsrjc != null">
        #{nsrjc,jdbcType=VARCHAR},
      </if>
      <if test="shxydm != null">
        #{shxydm,jdbcType=VARCHAR},
      </if>
      <if test="shxydm6 != null">
        #{shxydm6,jdbcType=CHAR},
      </if>
      <if test="sjshxydm != null">
        #{sjshxydm,jdbcType=VARCHAR},
      </if>
      <if test="zggsjgDm != null">
        #{zggsjgDm,jdbcType=VARCHAR},
      </if>
      <if test="zgdsjgDm != null">
        #{zgdsjgDm,jdbcType=VARCHAR},
      </if>
      <if test="sgyDm != null">
        #{sgyDm,jdbcType=VARCHAR},
      </if>
      <if test="djzclxDm != null">
        #{djzclxDm,jdbcType=VARCHAR},
      </if>
      <if test="parentDjzclxDm != null">
        #{parentDjzclxDm,jdbcType=VARCHAR},
      </if>
      <if test="hyDm != null">
        #{hyDm,jdbcType=VARCHAR},
      </if>
      <if test="nsrztDm != null">
        #{nsrztDm,jdbcType=VARCHAR},
      </if>
      <if test="zzzcbj != null">
        #{zzzcbj,jdbcType=TINYINT},
      </if>
      <if test="khyh != null">
        #{khyh,jdbcType=VARCHAR},
      </if>
      <if test="yhzh != null">
        #{yhzh,jdbcType=VARCHAR},
      </if>
      <if test="zcdz != null">
        #{zcdz,jdbcType=VARCHAR},
      </if>
      <if test="zcdlxdh != null">
        #{zcdlxdh,jdbcType=VARCHAR},
      </if>
      <if test="scjydz != null">
        #{scjydz,jdbcType=VARCHAR},
      </if>
      <if test="scjydlxdh != null">
        #{scjydlxdh,jdbcType=VARCHAR},
      </if>
      <if test="qysdszsbj != null">
        #{qysdszsbj,jdbcType=TINYINT},
      </if>
      <if test="djxh != null">
        #{djxh,jdbcType=VARCHAR},
      </if>
      <if test="zzsnslx != null">
        #{zzsnslx,jdbcType=TINYINT},
      </if>
      <if test="dzxwqyBj != null">
        #{dzxwqyBj,jdbcType=TINYINT},
      </if>
      <if test="xxwlqyBj != null">
        #{xxwlqyBj,jdbcType=TINYINT},
      </if>
      <if test="nsxydj != null">
        #{nsxydj,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.ifugle.rap.model.dsb.YhzxXnzzNsr">
    update yhzx_xnzz_nsr
    <set>
      <if test="xnzzId != null">
        xnzz_id = #{xnzzId,jdbcType=BIGINT},
      </if>
      <if test="bmId != null">
        bm_id = #{bmId,jdbcType=BIGINT},
      </if>
      <if test="sbbm != null">
        sbbm = #{sbbm,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null">
        corpid = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="nsrsbh != null">
        nsrsbh = #{nsrsbh,jdbcType=VARCHAR},
      </if>
      <if test="zdsyhbj != null">
        zdsyhbj = #{zdsyhbj,jdbcType=TINYINT},
      </if>
      <if test="jhbj != null">
        jhbj = #{jhbj,jdbcType=TINYINT},
      </if>
      <if test="yxcys != null">
        YXCYS = #{yxcys,jdbcType=INTEGER},
      </if>
      <if test="cjsj != null">
        cjsj = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="cjr != null">
        cjr = #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="xgsj != null">
        xgsj = #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgr != null">
        xgr = #{xgr,jdbcType=VARCHAR},
      </if>
      <if test="nsrmc != null">
        NSRMC = #{nsrmc,jdbcType=VARCHAR},
      </if>
      <if test="nsrjc != null">
        NSRJC = #{nsrjc,jdbcType=VARCHAR},
      </if>
      <if test="shxydm != null">
        shxydm = #{shxydm,jdbcType=VARCHAR},
      </if>
      <if test="shxydm6 != null">
        shxydm6 = #{shxydm6,jdbcType=CHAR},
      </if>
      <if test="sjshxydm != null">
        sjshxydm = #{sjshxydm,jdbcType=VARCHAR},
      </if>
      <if test="zggsjgDm != null">
        zggsjg_dm = #{zggsjgDm,jdbcType=VARCHAR},
      </if>
      <if test="zgdsjgDm != null">
        zgdsjg_dm = #{zgdsjgDm,jdbcType=VARCHAR},
      </if>
      <if test="sgyDm != null">
        sgy_dm = #{sgyDm,jdbcType=VARCHAR},
      </if>
      <if test="djzclxDm != null">
        djzclx_dm = #{djzclxDm,jdbcType=VARCHAR},
      </if>
      <if test="parentDjzclxDm != null">
        parent_djzclx_dm = #{parentDjzclxDm,jdbcType=VARCHAR},
      </if>
      <if test="hyDm != null">
        hy_dm = #{hyDm,jdbcType=VARCHAR},
      </if>
      <if test="nsrztDm != null">
        nsrzt_dm = #{nsrztDm,jdbcType=VARCHAR},
      </if>
      <if test="zzzcbj != null">
        zzzcbj = #{zzzcbj,jdbcType=TINYINT},
      </if>
      <if test="khyh != null">
        khyh = #{khyh,jdbcType=VARCHAR},
      </if>
      <if test="yhzh != null">
        yhzh = #{yhzh,jdbcType=VARCHAR},
      </if>
      <if test="zcdz != null">
        zcdz = #{zcdz,jdbcType=VARCHAR},
      </if>
      <if test="zcdlxdh != null">
        zcdlxdh = #{zcdlxdh,jdbcType=VARCHAR},
      </if>
      <if test="scjydz != null">
        scjydz = #{scjydz,jdbcType=VARCHAR},
      </if>
      <if test="scjydlxdh != null">
        scjydlxdh = #{scjydlxdh,jdbcType=VARCHAR},
      </if>
      <if test="qysdszsbj != null">
        qysdszsbj = #{qysdszsbj,jdbcType=TINYINT},
      </if>
      <if test="djxh != null">
        djxh = #{djxh,jdbcType=VARCHAR},
      </if>
      <if test="zzsnslx != null">
        zzsnslx = #{zzsnslx,jdbcType=TINYINT},
      </if>
      <if test="dzxwqyBj != null">
        dzxwqy_bj = #{dzxwqyBj,jdbcType=TINYINT},
      </if>
      <if test="xxwlqyBj != null">
        xxwlqy_bj = #{xxwlqyBj,jdbcType=TINYINT},
      </if>
      <if test="nsxydj != null">
        nsxydj = #{nsxydj,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.ifugle.rap.model.dsb.YhzxXnzzNsr">
    update yhzx_xnzz_nsr
    set xnzz_id = #{xnzzId,jdbcType=BIGINT},
      bm_id = #{bmId,jdbcType=BIGINT},
      sbbm = #{sbbm,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      corpid = #{corpid,jdbcType=VARCHAR},
      nsrsbh = #{nsrsbh,jdbcType=VARCHAR},
      zdsyhbj = #{zdsyhbj,jdbcType=TINYINT},
      jhbj = #{jhbj,jdbcType=TINYINT},
      YXCYS = #{yxcys,jdbcType=INTEGER},
      cjsj = #{cjsj,jdbcType=TIMESTAMP},
      cjr = #{cjr,jdbcType=VARCHAR},
      xgsj = #{xgsj,jdbcType=TIMESTAMP},
      xgr = #{xgr,jdbcType=VARCHAR},
      NSRMC = #{nsrmc,jdbcType=VARCHAR},
      NSRJC = #{nsrjc,jdbcType=VARCHAR},
      shxydm = #{shxydm,jdbcType=VARCHAR},
      shxydm6 = #{shxydm6,jdbcType=CHAR},
      sjshxydm = #{sjshxydm,jdbcType=VARCHAR},
      zggsjg_dm = #{zggsjgDm,jdbcType=VARCHAR},
      zgdsjg_dm = #{zgdsjgDm,jdbcType=VARCHAR},
      sgy_dm = #{sgyDm,jdbcType=VARCHAR},
      djzclx_dm = #{djzclxDm,jdbcType=VARCHAR},
      parent_djzclx_dm = #{parentDjzclxDm,jdbcType=VARCHAR},
      hy_dm = #{hyDm,jdbcType=VARCHAR},
      nsrzt_dm = #{nsrztDm,jdbcType=VARCHAR},
      zzzcbj = #{zzzcbj,jdbcType=TINYINT},
      khyh = #{khyh,jdbcType=VARCHAR},
      yhzh = #{yhzh,jdbcType=VARCHAR},
      zcdz = #{zcdz,jdbcType=VARCHAR},
      zcdlxdh = #{zcdlxdh,jdbcType=VARCHAR},
      scjydz = #{scjydz,jdbcType=VARCHAR},
      scjydlxdh = #{scjydlxdh,jdbcType=VARCHAR},
      qysdszsbj = #{qysdszsbj,jdbcType=TINYINT},
      djxh = #{djxh,jdbcType=VARCHAR},
      zzsnslx = #{zzsnslx,jdbcType=TINYINT},
      dzxwqy_bj = #{dzxwqyBj,jdbcType=TINYINT},
      xxwlqy_bj = #{xxwlqyBj,jdbcType=TINYINT},
      nsxydj = #{nsxydj,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectYhzxXnzzNsrForInit" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yhzx_xnzz_nsr ORDER BY cjsj LIMIT ${first}, ${pageSize}
  </select>

  <select id="selectYhzxXnzzNsrForSync" resultMap="BaseSwjgResultMap">
    select
    <include refid="Base_Swjg_Column_List" />
    from yhzx_xnzz_nsr nsr left join dsb_dm_swjg jg ON nsr.zggsjg_dm = jg.SWJG_DM
    where nsr.xgsj >= #{lastCreateTime}
    order by nsr.xgsj
    LIMIT ${first},${pageSize}
  </select>

  <select id="selectYhzxXnzzNsrForUpdateWithoutLastUpdateTime" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yhzx_xnzz_nsr
    WHERE xgsj > cjsj  LIMIT ${first},${pageSize}
  </select>

  <select id="selectYhzxXnzzNsrForUpdateWithLastUpdateTime" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yhzx_xnzz_nsr
    WHERE xgsj > #{lastUpdateTime} LIMIT ${first},${pageSize}
  </select>

  <select id="listByIds" resultMap="CompanyOdsResultMap">
    select /*+TDDL:slave()*/
    nsr.id,
    nsr.xnzz_id,
    nsr.bm_id,
    nsr.djxh,
    nsr.nsrsbh,
    nsr.shxydm,
    nsr.nsrmc,
    nsr.nsrjc,
    nsr.sjshxydm,
    nsr.nsrzt_dm,
    nsr.jhbj,
    nsr.zdsyhbj,
    nsr.yxcys,
    nsr.zggsjg_dm,
    nsr.djzclx_dm,
    nsr.hy_dm,
    nsr.zzzcbj,
    nsr.khyh,
    nsr.yhzh,
    nsr.zcdz,
    nsr.zcdlxdh,
    nsr.scjydz,
    nsr.scjydlxdh,
    nsr.zzsnslx,
    nsr.dzxwqy_bj,
    nsr.xxwlqy_bj,
    nsr.nsxydj,
    nsr.kzztdjlx_dm,
    nsr.jyfw,
    nsr.is_delete,
    nsr.cjr,
    nsr.cjsj,
    nsr.xgr,
    nsr.xgsj,
    nsr.swwblh
    from yhzx_xnzz_nsr nsr FORCE INDEX (PRIMARY)
    where 1=1
    <if test="xnzzId != null">
      and nsr.xnzz_id = #{xnzzId,jdbcType=BIGINT,javaType=java.lang.Long}
    </if>
    <if test="nsrIds != null and nsrIds.size > 0">
      and nsr.id in
      <foreach close=")" collection="nsrIds" index="index" item="nsrId" open="(" separator=",">
        #{nsrId}
      </foreach>
    </if>
    <if test="nsrIds == null or nsrIds.size == 0">
      and 1=2
    </if>
  </select>

  <select id="listByUpdateCompany" resultMap="CompanyOdsResultMap">
    select /*+TDDL:slave()*/
    nsr.id,
    nsr.xnzz_id,
    nsr.bm_id,
    nsr.nsrsbh,
    nsr.shxydm,
    nsr.nsrmc,
    nsr.zdsyhbj,
    nsr.jhbj,
    nsr.yxcys,
    nsr.djzclx_dm,
    nsr.hy_dm,
    nsr.nsrzt_dm,
    nsr.zzzcbj,
    nsr.zzsnslx,
    nsr.dzxwqy_bj,
    nsr.xxwlqy_bj,
    nsr.nsxydj,
    nsr.is_delete,
    nsr.cjsj,
    nsr.xgsj,
    nsr.swwblh
    from yhzx_xnzz_nsr nsr
    where nsr.xnzz_id = #{xnzzId,jdbcType=BIGINT,javaType=java.lang.Long}
    <if test="startId != null">
      and nsr.id > #{startId,jdbcType=BIGINT,javaType=java.lang.Long}
    </if>
    <if test="startDate != null">
      and nsr.xgsj &gt;= #{startDate,jdbcType=TIMESTAMP,javaType=java.util.Date}
    </if>
    <if test="endDate != null">
      and nsr.xgsj &lt;= #{endDate,jdbcType=TIMESTAMP,javaType=java.util.Date}
    </if>
    order by nsr.id
    limit #{pageNum}
  </select>


  <select id="listBqByNsrId" resultType="com.ifugle.rap.bigdata.task.YhzxXnzzNsrBq">
    select /*+TDDL:slave()*/ bq.NSR_ID as nsrId, GROUP_CONCAT(bq.BQ_ID) bqIds
    from YHZX_XNZZ_NSR_BQ bq
    where bq.QYBJ = 1
    <if test="xnzzId != null">
      and bq.XNZZ_ID = #{xnzzId,jdbcType=BIGINT,javaType=java.lang.Long}
    </if>
    <if test="nsrIds != null and nsrIds.size > 0">
      and bq.NSR_ID in
      <foreach close=")" collection="nsrIds" index="index" item="nsrId" open="(" separator=",">
        #{nsrId}
      </foreach>
    </if>
    <if test="nsrIds == null or nsrIds.size == 0">
      and 1=2
    </if>
    group by bq.NSR_ID
  </select>
</mapper>
